@using TestASP.NetIdentity.DomainEntities;
@model IEnumerable<Questionnaire>

@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h2>Questionnaire</h2>
<p>@((Model!=null && Model.Count() > 0) ? Model.FirstOrDefault().Advertisement.AdTitle : "")</p>

<p>
    <a asp-action="Create" class="btn btn-success" asp-route-adid="@((Model!=null && Model.Count()>0) ? Model.FirstOrDefault().AdId : 0)" onclick="addInfo(this.href);">Add</a>
    <a asp-action="Index" asp-controller="Advertisements" class="btn btn-success">Go to Advertisements</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbodyList">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.QuestionTitle)
                <div id="divAnswerList" style="display:none;">
                    @*<input type="hidden" id="AdId" value="@Model.AdId" />*@
                    @Html.Partial("_AnswerList", new List<Answer>())

                </div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" onclick="editInfo(this.href)">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="deleteInfo(this.href)">Delete</a>
                <a asp-action="Index" asp-controller="Answers" asp-route-id="@item.Id" class="btn btn-info" onclick="answerList(this.href)">Answers</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div id="divAdd" style="display:none;">
    
    @Html.Partial("_QuestionnaireAdd", new Questionnaire())

</div>
<div id="divEdit" style="display:none;">

    @Html.Partial("_QuestionnaireEdit", new Questionnaire())

</div>


<script type="text/javascript">
    $('body').click(function (e) {
        if ($(e.target).hasClass('btn btn-success') && $(e.target).text() == 'Add') {
            e.preventDefault();
        }
        else if ($(e.target).hasClass('btn btn-primary') && $(e.target).text() == 'Cancel') {
            e.preventDefault();
        }
        else if ($(e.target).hasClass('btn btn-warning') && $(e.target).text() == 'Edit') {
            e.preventDefault();
        }
        else if ($(e.target).hasClass('btn btn-danger') && $(e.target).text() == 'Delete') {
            e.preventDefault();
        }
        else if ($(e.target).hasClass('btn btn-info') && $(e.target).text() == 'Answers') {
            e.preventDefault();
        }
        else if ($(e.target).hasClass('btn btn-primery') && $(e.target).text() == 'Close') {
            e.preventDefault();
        }
    });

    function loadInfo() {

        var p = 2;
        var url = '../Questionnaires/Index?id=' + p;
        alert(url);
        $.ajax({
            type: 'GET',
            url: url,
            contentType: 'application/json;charset=utf-8',
            dataType: 'html',
            success: function (result) {
                $('#tbodyList').html(result);
            },
            error: function (response) {
                alert('error: ' + response.error);
            }
        });
    }

    function addInfo(url) {

        $('#divAdd').css('display', 'block');

        $.ajax({
            type: 'GET',
            url: url,
            contentType: 'application/json;charset=utf-8',
            dataType: 'html',
            success: function (result) {
                $('#divAdd').html(result);
            },
            error: function (response) {
                alert('error: ' + response.error);
            }
        });

        $(window).scrollTop($('#divAdd').offset().top);
    }
    function editInfo(url) {

        $('#divEdit').css('display', 'block');

        $.ajax({
            type: 'GET',
            url: url,
            contentType: 'application/json;charset=utf-8',
            dataType: 'html',
            success: function (result) {
                $('#divEdit').html(result);
            },
            error: function (response) {
                alert('error: ' + response.error);
            }
        });

        $(window).scrollTop($('#divEdit').offset().top);
    }
    function deleteInfo(url) {

        if (confirm('Are you sure you want to delete?')) {
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'application/json;charset=utf-8',
                dataType: 'html',
                success: function (result) {
                    alert(result);
                },
                error: function (response) {
                    alert('error: ' + response.error);
                }
            });
        }
    }

    function answerList(url) {
        alert(url);
        $('#divAnswerList').css('display', 'block');

        $.ajax({
            type: 'GET',
            url: url,
            contentType: 'application/json;charset=utf-8',
            dataType: 'html',
            success: function (result) {
                $('#divAnswerList').html(result);
            },
            error: function (response) {
                alert('error: ' + response.error);
            }
        });

        $(window).scrollTop($('#divAnswerList').offset().top);
    }

    function closeAnswerList() {
        $('#divAnswerList').css('display', 'none');

        loadInfo();
    }
</script>
